* {
    box-sizing: border-box;
}

.item {
    width: calc(100%/4);
    display: inline-block;
    font-size: 32px;
    text-align: center;
    padding: 32px;
    border: 1px solid whitesmoke;
    font-family: Inter, sans-serif;
}

.item-img {
    width: 100px;
}

.wrapper {
    font-size: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}